USE [PubsDW]
GO
/****** Object:  Table [dbo].[DimPublishers]    Script Date: 19/11/2025 16:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPublishers](
	[PublisherSK] [int] IDENTITY(1,1) NOT NULL,
	[pub_id] [char](4) NOT NULL,
	[pub_name] [nvarchar](40) NULL,
	[city] [nvarchar](20) NULL,
	[state] [nvarchar](2) NULL,
	[country] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
