USE [PubsDW]
GO
/****** Object:  Table [dbo].[DimAuthors]    Script Date: 19/11/2025 16:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAuthors](
	[AuthorSK] [int] IDENTITY(1,1) NOT NULL,
	[au_id] [nvarchar](11) NOT NULL,
	[au_lname] [nvarchar](40) NULL,
	[au_fname] [nvarchar](20) NULL,
	[phone] [nvarchar](12) NULL,
	[city] [nvarchar](20) NULL,
	[state] [nvarchar](2) NULL,
	[zip] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
