USE [PubsDW]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 19/11/2025 16:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[SaleSK] [int] IDENTITY(1,1) NOT NULL,
	[TitleSK] [int] NOT NULL,
	[AuthorSK] [int] NULL,
	[PublisherSK] [int] NOT NULL,
	[StoreSK] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [money] NULL,
	[TotalAmount]  AS ([Quantity]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[SaleSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Authors] FOREIGN KEY([AuthorSK])
REFERENCES [dbo].[DimAuthors] ([AuthorSK])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_Authors]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Publishers] FOREIGN KEY([PublisherSK])
REFERENCES [dbo].[DimPublishers] ([PublisherSK])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_Publishers]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Stores] FOREIGN KEY([StoreSK])
REFERENCES [dbo].[DimStores] ([StoreSK])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_Stores]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Time] FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_Time]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Titles] FOREIGN KEY([TitleSK])
REFERENCES [dbo].[DimTitles] ([TitleSK])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_Titles]
GO
