/****** Object:  UserDefinedDataType [dbo].[tid]    Script Date: 10/11/2025 15:43:45 ******/
CREATE TYPE [dbo].[tid] FROM [varchar](6) NOT NULL
GO

CREATE TABLE [dbo].[roysched](
	[title_id] [dbo].[tid] NOT NULL,
	[lorange] [int] NULL,
	[hirange] [int] NULL,
	[royalty] [int] NULL,
	[RowVersion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[roysched]  WITH CHECK ADD FOREIGN KEY([title_id])
REFERENCES [dbo].[titles] ([title_id])
GO
